<%= form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cumplida %><br />
    <%= f.check_box :cumplida %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :notas %><br />
    <%= f.text_area :notas %>
  </div>
  <div class="field">
    <%= f.label :prioridad %><br />
    <%= f.number_field :prioridad %>
  </div>
  <div class="field">
    <%= f.label :fvence %><br />
    <%= f.date_select :fvence %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
