<p id="notice"><%= notice %></p>

<p>
  <b>Cumplida:</b>
  <%= @tarea.cumplida %>
</p>

<p>
  <b>Nombre:</b>
  <%= @tarea.nombre %>
</p>

<p>
  <b>Notas:</b>
  <%= @tarea.notas %>
</p>

<p>
  <b>Prioridad:</b>
  <%= @tarea.prioridad %>
</p>

<p>
  <b>Fvence:</b>
  <%= @tarea.fvence %>
</p>


<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
